<div class="fixed-plugin">
    <a class="fixed-plugin-button position-fixed px-3 py-2">
        <i class="fa fa-exclamation-triangle text-dark"> </i>
    </a>
    <div class="card shadow-lg">
        <div class="card-header pb-0 pt-3">
            <div class="float-start">
                <h5 class="mt-3 mb-0">UNdisEASE | Emergency</h5>
                <p>See our Emergency options.</p>

                <div class="near-by-hospitals mt-5">
                    <div class="card">
                        <div class="col-12">
                            <div class="card mb-4">
                                <div class="card-header pb-0">
                                    <h6>Near By Hospitals</h6>
                                </div>
                                <div class="card-body px-0 pt-0 pb-2">
                                    <div class="table-responsive p-0">
                                        <table class="table align-items-center justify-content-center mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                        Hospitals</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                        Location</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                        Status</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">
                                                        Timings</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex px-2">

                                                            <div class="my-auto">
                                                                <h6 class="mb-0 text-sm">Apollo Hospitals</h6>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <p class="text-sm font-weight-bold mb-0">CBD Belapur, Mumbai</p>
                                                    </td>
                                                    <td>
                                                        <span class="text-xs font-weight-bold">Open</span>
                                                    </td>
                                                    <td class="align-middle text-center">
                                                        <span class="text-xs font-weight-bold">24X7</span </td>
                                                    <td class="align-middle">
                                                        <button class="btn btn-link text-secondary mb-0">
                                                            <i class="fa fa-phone-alt text-xs"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex px-2">

                                                            <div class="my-auto">
                                                                <h6 class="mb-0 text-sm">Balaji Hospital</h6>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <p class="text-sm font-weight-bold mb-0">Kamothe, Mumbai</p>
                                                    </td>
                                                    <td>
                                                        <span class="text-xs font-weight-bold">Closed</span>
                                                    </td>
                                                    <td class="align-middle text-center">
                                                        <span class="text-xs font-weight-bold">Opens 8 am</span>
                                                    </td>
                                                    <td class="align-middle">
                                                        <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-phone-alt text-xs"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex px-2">

                                                            <div class="my-auto">
                                                                <h6 class="mb-0 text-sm">Ozone Hospital</h6>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <p class="text-sm font-weight-bold mb-0">Kamothe, Mumbai</p>
                                                    </td>
                                                    <td>
                                                        <span class="text-xs font-weight-bold">Closed</span>
                                                    </td>
                                                    <td class="align-middle text-center">
                                                        <span class="me-2 text-xs font-weight-bold">Opens 8 am</span>
                                                    </td>
                                                    <td class="align-middle">
                                                        <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-phone-alt text-xs"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex px-2">

                                                            <div class="my-auto">
                                                                <h6 class="mb-0 text-sm">Apex Multispeciality Hospital
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <p class="text-sm font-weight-bold mb-0">Taloja, Mumbai</p>
                                                    </td>
                                                    <td>
                                                        <span class="text-xs font-weight-bold">Closed</span>
                                                    </td>
                                                    <td class="align-middle text-center">
                                                        <span class="me-2 text-xs font-weight-bold">Opens 7 am</span>
                                                    </td>
                                                    <td class="align-middle">
                                                        <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-phone-alt text-xs"></i>
                                                        </button>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="float-end mt-4">
                <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                    <i class="fa fa-close"></i>
                </button>

            </div>
            <!-- End Toggle Button -->

        </div>
        <hr class="horizontal dark my-1">





    </div>
</div>